* {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #863a2c, #7d8082, #6a300b);
}

header {
    position: fixed;
    z-index: 100;
    background: linear-gradient(to right, #5f291f, #7d8082, #3f1c06);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 7px solid black;
    height: 140px;
}

section {
    box-sizing: border-box;
    border: 2px solid black;
    height: 100vh;
    display: flex;
    flex-direction: inline;
}

/*css header*/
#nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

#my_name_div_header {
    flex: 1;
    font-size: 40px;
    text-align: initial;

}

.links_div_nav_header {
    display: flex;
    justify-content: space-around;
    flex: 1;
    font-size: 24px;
    padding: 15px 20px;
    transition: .3s;
}

.links_div_nav_header a {
    text-decoration: none;
    color: black;
}

.links_div_nav_header a:hover {
    color: brown;
    transform: scale(1.3);
}

/*css section About_me*/
#section_home {
    text-align: center;
}

/*css section about_me nav_first_column*/
#nav_home_first_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#nav_home_first_column h1 {
    font-size: 50px;
    text-align: start;
}

/*css section about_me nav_second_column*/
#nav_home_second_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

section img {
    height: 70%;
    width: 70%;
    margin-top: 60px;
    /*so it can't pass the max width*/
}

/*css section about_me*/
#nav_about_me_first_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px solid black;
}

#nav_icons_about_me_second_column {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid black;
}

.div_icons_about_me {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.div_icons_about_me img {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.div_icons_about_me img:hover {
    transform: scale(1.3);
}

#textContainer_second_column_about_me {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #3f1c06;
    background: linear-gradient(to right, #89645d, #7b5945);
    margin: 20px;
}


#textContainer_second_column_about_me p {
    font-size: 50px;
    color: rgb(26, 7, 7);
    margin: 10px;
}

/*css section projects*/
#section_projects {}